body {
  font-family: 'Poppins', sans-serif;
}

.btn-block {
  width: 100%;
}

.body {
  padding-left: 250px;
}

.sidenav {
  width: 250px;
}

.brand-logo {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

@media only screen and (max-width : 992px) {
.body {
    padding-left: 0;
  }
}

.skewed-bg {
  background: #00796b;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}

.footer {
  padding-top: 100px;
}
.footer .credits {
  text-align: center;
  color: #666;
}
.footer .credits .link {
  color: #00B285;
  text-decoration: none;
}