body {
  font-family: 'Poppins', sans-serif;
}

.btn-block {
  width: 100%;
}

.body {
  padding-left: 250px;
}

.sidenav {
  width: 250px;
}

.brand-logo {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

@media only screen and (max-width : 992px) {
.body {
    padding-left: 0;
  }
}